#main-nav{
    text-align: center;
    padding: 3px;
    background-color: rgb(248, 243, 243);
}
#main-nav a{
    padding: 20px;
}
.capsule{
    width: 61.8%;
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.textcapsule{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.titrecapsule{
    padding-left: 3%;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    font-family: cursive;
}
.desccapsule{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main-nav{
    border-style: double;
    border-color: black;
}
.imagecapsule{
    width: 200px;
    height: 150px;
}
.vote-bar{
    display: flex;
    height: 15px;
    width: 61.8%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: 1%;
    box-shadow: 2px 2px 2px grey;
}
.segmentcontre{
    width: 38%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.segmentpour{
    width: 62%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: auto;
    margin: 0 20px;
}
#site-footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 13px;
    background-color: rgb(248, 243, 243);
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
}
#site-header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(250, 237, 220);
    border-bottom: 2px solid black;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px; /* Height of the footer */
    box-sizing: border-box;
}
#TitreHeader{
    margin: 0;
    font-size: 36px;
}
#hero{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.vote {
    width: 50px;
    height: 10px;
    padding: 20px;
    border: 1px solid black;
}
.vote #voteOK {
    background-color: green;
}
.vote #voteNeutre {
    background-color: #A6A6A6;
}
.vote #voteNot {
    background-color: red;
}

