#main-nav{
    text-align: center;
    padding: 3px;
    background-color: rgb(248, 243, 243);
}
#main-nav a{
    padding: 20px;
}
.capsule{
    width: 61.8%;
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
#textcapsule{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#titrecapsule{
    padding-left: 3%;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    font-family: cursive;
}
#desccapsule{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main-nav{
    border-style: double;
    border-color: black;
}
#imagecapsule{
    width: 200px;
    height: 150px;
}
#Noncapsule{
    margin-left: 10px;
    font-weight: bold;
    color: red;
}
#Ouicapsule{
    font-weight: bold;
    color: green;
}
#notecapsule{
    margin-top: auto;
}
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: auto;
    margin: 0 20px;
    }